POSTGRES_DB=sales
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_HOST=db

DJANGO_SETTINGS_MODULE=config.settings.test

JWT_SIGNING_KEY="-----BEGIN RSA PRIVATE KEY-----
something
-----END RSA PRIVATE KEY-----"
JWT_VERIFYING_KEY="ssh-rsa AA... test@test.com"

