DJANGO_SETTINGS_MODULE=config.settings.test
DJANGO_SECRET_KEY='some-key'
POSTGRES_DB=back_test
POSTGRES_USER=userapp
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

PRIVATE_KEY_PATH=docker/test/private.pem
PUBLIC_KEY_PATH=docker/test/public.pem
