DJANGO_SETTINGS_MODULE=config.settings.dev
POSTGRES_DB=sales
POSTGRES_USER=sales_user
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

JWT_SIGNING_KEY="-----BEGIN RSA PRIVATE KEY-----
something
-----END RSA PRIVATE KEY-----"
JWT_VERIFYING_KEY="ssh-rsa AA... test@test.com"

